# Data Understanding

In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.4.2-cp38-cp38-win_amd64.whl (10.6 MB)
Collecting pytz>=2020.1
  Downloading pytz-2022.1-py2.py3-none-any.whl (503 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in e:\anaconda3\envs\venv_netflix_prime_hulu_disney\lib\site-packages (from pandas) (2.8.2)
Collecting numpy>=1.18.5
  Downloading numpy-1.22.4-cp38-cp38-win_amd64.whl (14.8 MB)
Requirement already satisfied: six>=1.5 in e:\anaconda3\envs\venv_netflix_prime_hulu_disney\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.22.4 pandas-1.4.2 pytz-2022.1

In [1]:
import pandas as pd

In [2]:
# data = pd.read_csv("E:/Personal-Project/Data Science Projects/Datasets/kaggle/Movies on Netflix, Prime Video, Hulu and Disney+/archive/MoviesOnStreamingPlatforms.csv")
data = pd.read_csv("E:/Personal-Project/Data Science Projects/Datasets/kaggle/Movies on Netflix, Prime Video, Hulu and Disney+/MoviesOnStreamingPlatforms_updated.csv/MoviesOnStreamingPlatforms_updated.csv")
data.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,The Irishman,2019,18+,7.8/10,98/100,1,0,0,0,0,Martin Scorsese,"Biography,Crime,Drama",United States,"English,Italian,Latin,Spanish,German",209.0
1,1,2,Dangal,2016,7+,8.4/10,97/100,1,0,0,0,0,Nitesh Tiwari,"Action,Biography,Drama,Sport","India,United States,United Kingdom,Australia,K...","Hindi,English",161.0
2,2,3,David Attenborough: A Life on Our Planet,2020,7+,9.0/10,95/100,1,0,0,0,0,"Alastair Fothergill,Jonathan Hughes,Keith Scholey","Documentary,Biography",United Kingdom,English,83.0
3,3,4,Lagaan: Once Upon a Time in India,2001,7+,8.1/10,94/100,1,0,0,0,0,Ashutosh Gowariker,"Drama,Musical,Sport","India,United Kingdom","Hindi,English",224.0
4,4,5,Roma,2018,18+,7.7/10,94/100,1,0,0,0,0,NaN,"Action,Drama,History,Romance,War","United Kingdom,United States",English,52.0

In [3]:
# Use index_col=[0] argument in read_csv() function to remove 'Unnamed: 0' column from the data variable.

# Unnamed: 0 column in pandas comes when you are reading CSV file . 
# The simplest solution would be to read the "Unnamed: 0" column as the index.

# df = pd.read_csv("E:/Personal-Project/Data Science Projects/Datasets/kaggle/Movies on Netflix, Prime Video, Hulu and Disney+/archive/MoviesOnStreamingPlatforms.csv", index_col=[0])
# df.head()

# Another way 
# Remove column 'Unnamed: 0' using drop() function
df = data 
df.drop(['Unnamed: 0', 'ID'], axis = 1, inplace=True)
df.head()

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,The Irishman,2019,18+,7.8/10,98/100,1,0,0,0,0,Martin Scorsese,"Biography,Crime,Drama",United States,"English,Italian,Latin,Spanish,German",209.0
1,Dangal,2016,7+,8.4/10,97/100,1,0,0,0,0,Nitesh Tiwari,"Action,Biography,Drama,Sport","India,United States,United Kingdom,Australia,K...","Hindi,English",161.0
2,David Attenborough: A Life on Our Planet,2020,7+,9.0/10,95/100,1,0,0,0,0,"Alastair Fothergill,Jonathan Hughes,Keith Scholey","Documentary,Biography",United Kingdom,English,83.0
3,Lagaan: Once Upon a Time in India,2001,7+,8.1/10,94/100,1,0,0,0,0,Ashutosh Gowariker,"Drama,Musical,Sport","India,United Kingdom","Hindi,English",224.0
4,Roma,2018,18+,7.7/10,94/100,1,0,0,0,0,NaN,"Action,Drama,History,Romance,War","United Kingdom,United States",English,52.0

In [4]:
# Get column names in dataframe
df.columns

Index(['Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes', 'Netflix', 'Hulu',
       'Prime Video', 'Disney+', 'Type', 'Directors', 'Genres', 'Country',
       'Language', 'Runtime'],
      dtype='object')

#### Column names in the Dataframe
    ID         - Indicates a single Row in the dataframe (unique value)
    Title      - Name of the Movie/Film (unique value)
    Year       - Release Year of the Movie 
    Age        - Permitted Age to watch a movie 
    Rotten Tomatoes - Review of rate of a movie
    Netflix    - If movie is available in netflix
    Hulu       - If movie is available in hulu
    Prime Video - If movie is available in Prime video
    Disney+    - If movie is available in Disney+
    Type       - Unknown
    Directors  - Name of the Director 
    Genres     - Genres of the movie
    Country    - Name of the Countries the movies are running
    Language   - Name of the languages the movies are released in.
    Runtime    - Total runtime of the movie.

In [5]:
# Datatype of each column
df.dtypes

Title               object
Year                 int64
Age                 object
IMDb                object
Rotten Tomatoes     object
Netflix              int64
Hulu                 int64
Prime Video          int64
Disney+              int64
Type                 int64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
dtype: object

In [6]:
# Total columns and rows
df.shape

(9515, 15)

In [16]:
df1 = df[['Title', 'Directors', 'Country']]
df1.head(10)

,Title,Directors,Country
0,The Irishman,Martin Scorsese,United States
1,Dangal,Nitesh Tiwari,"India,United States,United Kingdom,Australia,K..."
2,David Attenborough: A Life on Our Planet,"Alastair Fothergill,Jonathan Hughes,Keith Scholey",United Kingdom
3,Lagaan: Once Upon a Time in India,Ashutosh Gowariker,"India,United Kingdom"
4,Roma,NaN,"United Kingdom,United States"
5,To All the Boys I've Loved Before,Susan Johnson,United States
6,The Social Dilemma,Jeff Orlowski,United States
7,Okja,Bong Joon Ho,"South Korea,United States"
8,The Ballad of Buster Scruggs,"Ethan Coen,Joel Coen",United States
9,The Trial of the Chicago 7,Aaron Sorkin,"United States,United Kingdom,India"

#### IMDB datasets
    https://www.kaggle.com/datasets/komalkhetlani/imdb-dataset
    https://www.kaggle.com/datasets/lakshmi25npathi/imdb-dataset-of-50k-movie-reviews
    
#### Netflix dataset
    https://www.kaggle.com/datasets/pariaagharabi/netflix2020

#### Dataset Source
    https://www.kaggle.com/code/ruchi798/movies-and-tv-shows-eda/data?select=MoviesOnStreamingPlatforms_updated.csv